@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*

font-family: 'Chivo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

*/
body {
  overflow-x: hidden; }

h1 span.top-section {
  margin-top: 5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 5rem;
  color: #000000;
  position: relative;
  z-index: 1000; }

h1 span.bottom-section {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 5rem;
  color: #000000;
  position: relative;
  z-index: 1000; }

h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 8rem;
  line-height: 167%;
  display: flex;
  align-items: center;
  letter-spacing: -2.5px;
  color: #00FFC3;
  margin-left: 3rem; }

h3.about {
  font-size: 20rem; }

h3.subpage {
  font-size: 50rem;
  font-family: "Montserrat"; }

h4, h1.subpage-h1, h1.about-copy {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 167%;
  color: #000000; }

h5 {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 167%;
  text-transform: uppercase;
  color: #000000; }

h6, .subpage-copy h2, .about-copy h2 {
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 167%;
  text-transform: uppercase;
  color: #000000; }

h6.card-title {
  margin-bottom: 1.5rem; }

p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 167%;
  color: #000000; }

a {
  color: #000000;
  text-decoration: none;
  font-style: normal; }

a:hover {
  font-style: italic;
  color: #000000;
  text-decoration: none; }

.home-header {
  margin-top: 5rem; }

p.jumbocopy {
  padding-top: 150px;
  padding-bottom: 100px; }

li {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000; }

li:hover {
  font-style: italic; }

blockquote {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 140%;
  color: #000000; }

nav.mobile {
  background-color: white;
  border-bottom: 3px solid #00FFC3; }
  nav.mobile button {
    font-family: Chivo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    background-color: white; }
  nav.mobile li {
    border-bottom: 1px solid black;
    line-height: 300%;
    font-weight: lighter;
    font-size: 14px; }
  nav.mobile li.active {
    font-weight: bold; }
  nav.mobile li:last-child {
    border: 0; }

nav.desktop {
  position: fixed;
  z-index: 1000;
  height: 100%; }
  nav.desktop li {
    font-weight: lighter;
    font-size: 14px; }

.nav-tabs {
  border: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: white;
  height: 100%; }
  .nav-tabs > li {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: center center;
    list-style-type: none; }
    .nav-tabs > li > a {
      display: block;
      padding: 1.6rem 1rem;
      background-color: white; }
  .nav-tabs li.active a:hover {
    font-style: normal; }
  .nav-tabs .active {
    text-decoration: underline; }

.figure {
  margin-top: 2rem;
  margin-bottom: 3rem; }

nav.scrollspy {
  position: fixed;
  z-index: 2000;
  height: 100%;
  right: 0; }
  nav.scrollspy li {
    font-weight: lighter;
    font-size: 1rem; }

nav.scrollspy .nav-tabs {
  border: none;
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-start;
  background-color: white;
  height: 100%; }
  nav.scrollspy .nav-tabs > li {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: center center;
    list-style-type: none; }
    nav.scrollspy .nav-tabs > li > a {
      display: block;
      padding: 0 1.6rem 1rem 1rem;
      background-color: white; }
  nav.scrollspy .nav-tabs a {
    text-decoration: none;
    padding-top: 0; }
  nav.scrollspy .nav-tabs .line {
    height: 25vh;
    border-left: 1px solid black;
    padding-left: .5rem;
    margin-bottom: 2rem;
    margin-top: -5vh; }
  nav.scrollspy .nav-tabs a:hover {
    font-style: normal; }
  nav.scrollspy .nav-tabs li.active a:hover {
    font-style: normal; }
  nav.scrollspy .nav-tabs .active {
    text-decoration: underline; }

.container-fluid.outter {
  padding: 4rem; }

.jumbotron {
  background-image: url("../img/hero002-sm.jpg");
  background-size: cover;
  margin-top: -35px;
  position: relative;
  border-radius: 0; }

.jumbocopy {
  margin-top: 200px;
  padding-bottom: 8rem; }

.jumbo-readmore {
  padding-top: 6px; }
  .jumbo-readmore span {
    border-top: 1px solid black;
    padding-top: .5rem;
    display: inline-flex;
    align-items: center; }

.jumbotron-row,
.keepinmind-row {
  margin-bottom: 13rem; }
  .jumbotron-row h6,
  .keepinmind-row h6 {
    font-size: 1rem;
    line-height: 220%; }

.accordion-container,
.divedeeper-row {
  margin-bottom: 8rem; }

.button {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase; }

div.keepinmind {
  margin-top: -110px; }

.card {
  border-radius: 0;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.card-header {
  border: 0;
  background-color: white; }
  .card-header button {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem; }
  .card-header button .svg-el {
    content: url("../img/close_x.svg");
    height: 25px;
    width: 25px; }
  .card-header button .title-el {
    padding-left: 2px;
    padding-right: 2px;
    background: linear-gradient(to top, #00FFC3 60%, transparent 60%); }
  .card-header button.collapsed .svg-el {
    content: url("../img/open_arrow.svg");
    height: 25px;
    width: 25px; }
  .card-header button.collapsed .title-el {
    background: linear-gradient(to top, transparent 60%, transparent 60%); }

.card h2 button {
  text-transform: uppercase;
  color: #000000; }

.card h2 button:hover {
  text-decoration: none;
  font-style: italic;
  color: #000000; }

.accordion-number {
  font-family: 'Montserrat';
  border-left: 1px solid black;
  font-size: 175px;
  line-height: 100%;
  font-weight: 700; }

blockquote {
  margin-top: 50px;
  margin-bottom: 50px; }

.accordion-header {
  margin-bottom: 50px; }

.accordion-body {
  margin-bottom: 100px;
  position: relative;
  z-index: 100; }

.bg-number {
  margin-bottom: -1rem;
  margin-top: -36rem; }
  .bg-number.three {
    margin-bottom: 0; }
  .bg-number span {
    color: #00FFC3;
    font-size: 50rem;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: .7;
    position: relative;
    z-index: 0;
    margin-left: -8rem; }
  .bg-number span.three {
    margin-top: -36rem; }
  .bg-number span.one {
    margin-left: 0; }

.cards-container .card {
  background-color: transparent;
  border: 0; }
  .cards-container .card .card-footer {
    background-color: transparent;
    border-top: 1px solid black;
    margin-top: 2rem; }
    .cards-container .card .card-footer a {
      line-height: 3rem; }

.readmore-content {
  margin-bottom: 10rem; }

.footer {
  border-top: 1px solid black;
  padding-top: 16px;
  border-bottom: 24px solid #00FFC3; }
  .footer p {
    font-size: 12px;
    line-height: 132%;
    font-family: "Chivo"; }
  .footer div.copyright {
    padding-left: 5rem; }
  .footer div.extra {
    padding-right: 5rem; }

.container.about-header h3 {
  margin-top: -12rem;
  margin-left: -4rem; }

.container.subpage-header h3 {
  margin-top: -32rem;
  margin-left: -8rem; }

.logo-container {
  margin-top: 10rem;
  margin-bottom: 10rem; }
  .logo-container img {
    max-width: 100%; }

div.about {
  margin-top: -15rem; }

div.about-copy p:first-of-type {
  margin-top: 5rem; }
div.about-copy h2 {
  margin-top: 5rem;
  margin-bottom: 1.5rem; }
  div.about-copy h2 span {
    background: linear-gradient(to top, #00FFC3 60%, transparent 60%);
    padding-left: 2px;
    padding-right: 2px; }

div.subpage-copy {
  margin-top: -45rem;
  margin-bottom: 22rem; }
  div.subpage-copy p:first-of-type {
    margin-top: 5rem; }
  div.subpage-copy p a {
    text-decoration: underline; }
  div.subpage-copy h2 {
    margin-top: 5rem;
    margin-bottom: 1.5rem; }
    div.subpage-copy h2 span {
      background: linear-gradient(to top, #00FFC3 60%, transparent 60%);
      padding-left: 2px;
      padding-right: 2px; }
  div.subpage-copy .copy-list li {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 1.5rem;
    color: #000000;
    list-style-type: disc;
    text-transform: none;
    display: list-item; }
  div.subpage-copy .download {
    margin-top: 8rem; }
    div.subpage-copy .download a {
      width: 100%;
      display: inline-block; }

.row.feature-link {
  padding-top: .5rem;
  border-top: 1px solid black; }

.svg-download::after {
  content: url("../img/download_arrow.svg");
  height: 20px;
  padding-left: 5px; }

.svg-readmore::after {
  content: url("../img/more_arrow.svg");
  height: 20px;
  width: 20px; }

.credits {
  bottom: 6rem; }

.credits h6 {
  margin-bottom: 1.5rem;
  margin-top: 10rem; }

.credits p {
  font-size: 1rem;
  line-height: 167%;
  margin-bottom: 3rem; }

.inpage-nav {
  margin-bottom: 5rem; }
  .inpage-nav ul, .inpage-nav nav {
    margin-left: 0;
    padding-left: 0; }
  .inpage-nav li {
    border-bottom: 1px solid black;
    line-height: 300%;
    padding-left: 2rem;
    font-weight: lighter;
    font-size: 1.1rem; }
  .inpage-nav li:last-child {
    border: 0; }
  .inpage-nav .title-el {
    padding-left: 2px;
    padding-right: 2px;
    background: linear-gradient(to top, transparent 60%, transparent 60%); }
  .inpage-nav .current.title-el {
    background: linear-gradient(to top, #00FFC3 60%, transparent 60%); }

@media (max-width: 991.98px) {
  h1 span.top-section,
  h1 span.bottom-section,
  h1 {
    font-size: 3rem;
    line-height: 167%; }

  h2 {
    font-size: 3.3rem;
    line-height: 167%; }

  .jumbotron {
    margin-top: -3.2rem; } }
@media (max-width: 767.98px) {
  h1 span.top-section,
  h1 span.bottom-section,
  h1 {
    font-size: 1.8rem;
    line-height: 167%; }

  h2 {
    font-size: 2rem;
    line-height: 167%; }

  h3 {
    display: none; }

  h4 {
    font-size: 1.5rem;
    line-height: 140%; }

  body {
    padding-top: 0; }

  div.subpage-copy {
    margin-top: 3rem; }
    div.subpage-copy h4 {
      font-size: 2.5rem; }
    div.subpage-copy blockquote {
      font-size: 1.6rem; }

  .credits p {
    margin-top: 0 !important; }

  div.keepinmind {
    margin-top: 0;
    margin-bottom: 3rem; }

  .title-num {
    padding: 0;
    text-align: left; }

  .accordion-container {
    margin-bottom: 3rem; }

  div.about {
    margin-top: 3rem; } }
/* large devices */
@media (min-width: 1450px) {
  .container {
    max-width: 1400px; } }
/* extra large devices */
@media screen and (min-width: 1800px) {
  .container {
    max-width: 1800px; }

  h1 span.top-section {
    font-size: 6rem;
    line-height: 127%; }

  h1 span.bottom-section {
    font-size: 6.8rem;
    line-height: 127%; }

  div.jumbotron {
    margin-top: -5rem; }

  body, p, .footer p {
    font-size: 1rem; }

  .card-header button {
    font-size: 2rem; }

  .accordion-number {
    font-size: 18rem; }

  h3 {
    font-size: 13rem; }

  h6 {
    font-size: 2rem; }

  div.keepinmind {
    margin-top: -10rem; } }

/*# sourceMappingURL=delight.css.map */
